{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Détails
{% endblock %}

{% block content %} 
<h1> Section détails </h1>
<p>Bienvenue dans notre section détails. <br><br>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
Perspiciatis, earum nulla. Voluptas, accusamus. Aliquid, ducimus. 
Vitae eius iusto fugit laborum laboriosam fuga perferendis eos deserunt? 
Tempora, veniam cupiditate.
</p>
{% endblock %}